.green-bar {
  background-color: rgb(0, 168, 132);
  padding-top: 19px;
  height: 100px;
}

.grey-wallpaper {
  background-color: rgb(231, 233, 235);
  height: 823px;
  margin-top: 100px;
}

.menu-bar {
  background-color: rgb(255, 255, 255);
  height: 850px;
  width: 509px;
  top: 0;
  margin-left: 50px;
  margin-top: 20px;
  position: absolute;
  z-index: 2;
}

.chat-bar {
  background-color: rgb(255, 255, 255);
  height: 850px;
  width: 1300px;
  top: 0;
  border-radius: 2px solid, black;
  margin-left: 560px;
  margin-top: 20px;
  position: absolute;
  z-index: 2;
}
