/* .menu-bar {
  background-color: rgb(207, 49, 49);
  height: 850px;
  width: 497px;
  top: 0;
  margin-left: 50px;
  margin-top: 20px;
  position: absolute;
  z-index: 2;
}

.chat-bar {
  background-color: rgb(255, 255, 255);
  height: 850px;
  width: 1300px;
  top: 0;
  border-radius: 2px solid, black;
  margin-left: 520px;
  margin-top: 20px;
  position: absolute;
  z-index: 2;
} */
